In [2]:
f = ()

In [3]:
type(f)

tuple

In [4]:
t = (123,234,"vikcy",345,True)

In [5]:
t[2]

'vikcy'

In [6]:
t.insert(2,2)

AttributeError: 'tuple' object has no attribute 'insert'

In [7]:
t

(123, 234, 'vikcy', 345, True)

In [8]:
t2 = (43,24,54,543)

In [9]:
t+t2

(123, 234, 'vikcy', 345, True, 43, 24, 54, 543)

In [10]:
 t*2

(123, 234, 'vikcy', 345, True, 123, 234, 'vikcy', 345, True)

In [11]:
123 in t

True

In [12]:
123 in t2

False

In [13]:
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
 t3 = (1,2,3,4,4,54,52,23,233,3)

In [15]:
max(t3)

233

In [16]:
min (t3)

1

In [17]:
t.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [18]:
t3.count(4)

2

In [22]:
t3.index(4)

3

In [23]:
t3.count(5)

0

In [24]:
min(t3)

1

In [25]:
l = list(t)

In [26]:
type(l)

list

In [27]:
l.insert(2,t2)

In [28]:
l

[123, 234, (43, 24, 54, 543), 'vikcy', 345, True]

In [29]:
tuple(l)

(123, 234, (43, 24, 54, 543), 'vikcy', 345, True)

In [30]:
t

(123, 234, 'vikcy', 345, True)

In [31]:
t = tuple(l)

In [32]:
t

(123, 234, (43, 24, 54, 543), 'vikcy', 345, True)

In [4]:
t = ((1,2,3,3,434,4), ("vicky",123,23,23),43,34,["sa",23,23,12,21])

In [8]:
  type(t[4][0])

str

In [9]:
t[1][::-1]

(23, 23, 123, 'vicky')

In [10]:
for i in t:
    print(i)

(1, 2, 3, 3, 434, 4)
('vicky', 123, 23, 23)
43
34
['sa', 23, 23, 12]

In [13]:
for i in t:
    if type(i)==tuple:
        print(i)
    elif type(i)==list:
        print(i)

(1, 2, 3, 3, 434, 4)
('vicky', 123, 23, 23)
['sa', 23, 23, 12]

In [16]:
t

((1, 2, 3, 3, 434, 4), ('vicky', 123, 23, 23), 43, 34, ['sa', 23, 23, 12])

In [20]:
t2 = (1,2,3,4,343,42,2,122,4,223,23,12)

###

In [21]:
t2

(1, 2, 3, 4, 343, 42, 2, 122, 4, 223, 23, 12)

In [22]:
t3 = (43,534,2,3587,879,435,34,68,78,7,76)

In [23]:
if len(t2)==len(t3):
    print("its same")
else:
    print("not same")

not same

In [24]:
t

((1, 2, 3, 3, 434, 4), ('vicky', 123, 23, 23), 43, 34, ['sa', 23, 23, 12])

In [25]:
i = input("user input:   ")
if i in t:
    print("available")
else:
    print("not available")

user input:   1
not available

In [34]:
t = (1,2,3,4,45,"vicky",34,56,879,"vikram")

In [35]:
del(t)   #it will be deleted

In [36]:
t

NameError: name 't' is not defined

In [38]:
 l = [1,2,2,3,4,67,5234,554]

In [39]:
l

[1, 2, 2, 3, 4, 67, 5234, 554]

In [40]:
del(l)

In [41]:
l

NameError: name 'l' is not defined

In [42]:
#set

In [1]:
x = set()

In [2]:
type(x)

set

In [4]:
l =   [1,1,2,2,3,3,3,4,4,4,4,5,5,5,6,6,6,9,67,7,8,7, "vicky", "vicky", "vikram"]

In [7]:
s =set(l)

In [8]:
s

{1, 2, 3, 4, 5, 6, 67, 7, 8, 9, 'vicky', 'vikram'}

In [9]:
for i in s:
    print(i)

1
2
3
4
5
6
67
7
9
8
vicky
vikram

In [10]:
1 in s

True

In [12]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [13]:
s = set()
s

set()

In [14]:
s.add(1,1,1,2,2,2,3,3,3,3,,44,4,4)

SyntaxError: invalid syntax (1193420968.py, line 1)

In [15]:
s.add(1)

In [16]:
s

{1}

In [17]:
s.add(1,2)

TypeError: set.add() takes exactly one argument (2 given)

In [18]:
s.clear()

In [19]:
s

set()

In [20]:
s=set()

In [21]:
s.add(45)

In [22]:
s.add(44)

In [23]:
s

{44, 45}

In [24]:
s.add("vicky")

In [25]:
s

{44, 45, 'vicky'}

In [26]:
s.remove(45)

In [27]:
s

{44, 'vicky'}

In [28]:
s.remove(45)

KeyError: 45

In [29]:
s.add(45)

In [30]:
s

{44, 45, 'vicky'}

In [31]:
s.clear()

In [32]:
s

set()

In [33]:
s.copy(45)

TypeError: set.copy() takes no arguments (1 given)

In [34]:
s=set(l)

In [35]:
s

{1, 2, 3, 4, 5, 6, 67, 7, 8, 9, 'vicky', 'vikram'}

In [36]:
s.remove(67)

In [37]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'vicky', 'vikram'}

In [38]:
s.add(10)

In [39]:
s2 = (11,12,13,14,15)

In [40]:
s2

(11, 12, 13, 14, 15)

In [41]:
s+s2

TypeError: unsupported operand type(s) for +: 'set' and 'tuple'

In [42]:
l1 = list(s)
l2 = list(s2)

In [44]:
l = l1+l2

In [45]:
s = set(l)

In [46]:
s

{1, 10, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 7, 8, 9, 'vicky', 'vikram'}

In [47]:
x = {}

In [48]:
type(x)

dict

In [59]:
x={12,23}

In [60]:
type(x)

set

In [61]:
type(x)

set

In [62]:
x = {"name" : "vicky", "age": 24}

In [63]:
type(s)

set

In [65]:
type(x)

dict

In [83]:
x2 = {"name" : "vicky", "age": 24,"second" : "vikram", "next age": 25, "x3":{1:2,2:3,3:4}, True : "vikram sai", "vicky vikram":False, 24:25, "tuple":[1,1,2,2,3,3,34,4,4,4,55,5,55] }

In [84]:
x2

{'name': 'vicky',
 'age': 24,
 'second': 'vikram',
 'next age': 25,
 'x3': {1: 2, 2: 3, 3: 4},
 True: 'vikram sai',
 'vicky vikram': False,
 24: 25,
 'tuple': [1, 1, 2, 2, 3, 3, 34, 4, 4, 4, 55, 5, 55]}

In [85]:
x2["tuple"]

[1, 1, 2, 2, 3, 3, 34, 4, 4, 4, 55, 5, 55]

In [86]:
(x2["tuple"][5])

3

In [89]:
x2["x3"][2]

4

In [88]:
x2["x3"][2] = 4

In [90]:
x2["x3"][2] -= 4

In [91]:
x2["x3"][2]

0

In [92]:
x2.keys()

dict_keys(['name', 'age', 'second', 'next age', 'x3', True, 'vicky vikram', 24, 'tuple'])

In [93]:
True in x2.keys()

True

In [94]:
for i in x2:
    print(i)

name
age
second
next age
x3
True
vicky vikram
24
tuple

In [95]:
for i in x2.keys():
    print(x2[i])

vicky
24
vikram
25
{1: 2, 2: 0, 3: 4}
vikram sai
False
25
[1, 1, 2, 2, 3, 3, 34, 4, 4, 4, 55, 5, 55]

In [97]:
for i in x2.keys():
    print(type(x2[i]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'dict'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'list'>

In [98]:
x2

{'name': 'vicky',
 'age': 24,
 'second': 'vikram',
 'next age': 25,
 'x3': {1: 2, 2: 0, 3: 4},
 True: 'vikram sai',
 'vicky vikram': False,
 24: 25,
 'tuple': [1, 1, 2, 2, 3, 3, 34, 4, 4, 4, 55, 5, 55]}

In [99]:
x2.items()

dict_items([('name', 'vicky'), ('age', 24), ('second', 'vikram'), ('next age', 25), ('x3', {1: 2, 2: 0, 3: 4}), (True, 'vikram sai'), ('vicky vikram', False), (24, 25), ('tuple', [1, 1, 2, 2, 3, 3, 34, 4, 4, 4, 55, 5, 55])])

In [100]:
x2.keys()

dict_keys(['name', 'age', 'second', 'next age', 'x3', True, 'vicky vikram', 24, 'tuple'])

In [102]:
for i in x2.items():
    print(i[0])

name
age
second
next age
x3
True
vicky vikram
24
tuple

In [103]:
for i in x2.items():
    print(i[1])

vicky
24
vikram
25
{1: 2, 2: 0, 3: 4}
vikram sai
False
25
[1, 1, 2, 2, 3, 3, 34, 4, 4, 4, 55, 5, 55]

In [104]:
x5 = {(21,122,3,2):"vicky"}

In [105]:
x5[(21,122,3,2)]

'vicky'

In [106]:
len(x2)

9

In [108]:
len(x)

2

In [110]:
len(x5)

1

In [143]:
a = str(input(""))

Hanuman (/ˈhʌnʊˌmɑːn/; Sanskrit: हनुमान, IAST: Hanumān),[7] also called Anjaneya (Sanskrit: आञ्जनेय),[8] is a Hindu god and a divine vanara companion of the god Rama. Hanuman is one of the central characters of the Hindu epic Ramayana. He is an ardent devotee of Rama and one of the Chiranjivis. Hanuman is regarded to be the son of the wind-god Vayu, who in several stories played a direct role in Hanuman's birth,[6][9] and considered to be an incarnation or son of Shiva in Shaivism.

In [144]:
b = a.split(" ")

In [136]:
b

['Hanuman',
 'From',
 'Wikipedia,',
 'the',
 'free',
 'encyclopedia',
 'Jump',
 'to',
 'navigation',
 'Jump',
 'to',
 'search',
 'For',
 'other',
 'uses,',
 'see',
 'Hanuman',
 '(disambiguation).',
 'Hanuman',
 'God',
 'of',
 'Wisdom,',
 'Strength,',
 'Courage,',
 'Devotion',
 'and',
 'Self-Discipline[1]',
 'Member',
 'of',
 'Chiranjivi',
 'Hanuman',
 'painted',
 'by',
 'Pahari',
 'Painter.jpg',
 'Hanuman',
 'painted',
 'by',
 'a',
 'Pahari',
 'painter',
 'Devanagari\tहनुमान',
 'Sanskrit',
 'transliteration\tHanumān',
 'Affiliation\tDevotee',
 'of',
 'Rama,',
 'Deva,',
 'Vanara,[2]',
 'Avatar',
 'of',
 'Vayu,',
 'Mukhyaprana[3]',
 'Abode\tKishkindha',
 'Mantra\tॐ',
 'श्री',
 'हनुमते',
 'नमः',
 '(Om',
 'Sri',
 'Hanumate',
 'Namah)',
 'Weapon\tGada',
 '(mace)',
 'Texts\tRamayana',
 'and',
 'its',
 'other',
 'versions,',
 'Hanuman',
 'Chalisa',
 '[4]',
 'Festivals\tHanuman',
 'Jayanti',
 'Personal',
 'information',
 'Born\tAnjeyanadri',
 'Hill,',
 'Koppal',
 'district',
 'Parents\tVayu',
 '(spiritual',
 'father)',
 'Kesari',
 '(father)[2][6]',
 'Añjanā',
 '(mother)[2]',
 'Siblings\tBhima',
 '(spiritual',
 'brother)[5]',
 'Part',
 'of',
 'a',
 'series',
 'on',
 'Hinduism',
 '1',
 'Om.svg',
 '',
 '',
 '',
 '',
 '',
 'Hindus',
 'History',
 'Timeline',
 '',
 'Origins',
 'Traditions',
 'Deities',
 'Concepts',
 'Practices',
 'Philosophical',
 'schools',
 'Gurus,',
 'sants,',
 'philosophers',
 'Texts',
 'Society',
 'Other',
 'topics',
 '',
 '',
 '',
 '',
 '',
 'Glossary',
 'Outline',
 '',
 '',
 '',
 '',
 '',
 '\xa0Hinduism',
 'portal',
 '',
 '',
 '',
 '',
 '',
 'vte',
 '',
 'Hanuman',
 '(/ˈhʌnʊˌmɑːn/;',
 'Sanskrit:',
 'हनुमान,',
 'IAST:',
 'Hanumān),[7]',
 'also',
 'called',
 'Anjaneya',
 '(Sanskrit:',
 'आञ्जनेय),[8]',
 'is',
 'a',
 'Hindu',
 'god',
 'and',
 'a',
 'divine',
 'vanara',
 'companion',
 'of',
 'the',
 'god',
 'Rama.',
 'Hanuman',
 'is',
 'one',
 'of',
 'the',
 'central',
 'characters',
 'of',
 'the',
 'Hindu',
 'epic',
 'Ramayana.',
 'He',
 'is',
 'an',
 'ardent',
 'devotee',
 'of',
 'Rama',
 'and',
 'one',
 'of',
 'the',
 'Chiranjivis.',
 'Hanuman',
 'is',
 'regarded',
 'to',
 'be',
 'the',
 'son',
 'of',
 'the',
 'wind-god',
 'Vayu,',
 'who',
 'in',
 'several',
 'stories',
 'played',
 'a',
 'direct',
 'role',
 'in',
 "Hanuman's",
 'birth,[6][9]',
 'and',
 'considered',
 'to',
 'be',
 'an',
 'incarnation',
 'or',
 'son',
 'of',
 'Shiva',
 'in',
 'Shaivism.',
 'Hanuman',
 'is',
 'mentioned',
 'in',
 'several',
 'other',
 'texts,',
 'such',
 'as',
 'the',
 'epic',
 'Mahabharata',
 'and',
 'the',
 'various',
 'Puranas.',
 '',
 'Evidence',
 'of',
 'devotional',
 'worship',
 'to',
 'Hanuman',
 'is',
 'largely',
 'absent',
 'in',
 'these',
 'texts,',
 'as',
 'well',
 'as',
 'in',
 'most',
 'archeological',
 'sites.',
 'According',
 'to',
 'Philip',
 'Lutgendorf,',
 'an',
 'American',
 'Indologist,',
 'the',
 'theological',
 'significance',
 'of',
 'Hanuman',
 'and',
 'devotional',
 'dedication',
 'to',
 'him',
 'emerged',
 'about',
 '1,000',
 'years',
 'after',
 'the',
 'composition',
 'of',
 'the',
 'Ramayana,',
 'in',
 'the',
 '2nd',
 'millennium',
 'CE,',
 'after',
 'the',
 'arrival',
 'of',
 'Islamic',
 'rule',
 'in',
 'the',
 'Indian',
 'subcontinent.[10]',
 'Lutgendorf',
 'also',
 'writes',
 'that',
 'the',
 'skills',
 'in',
 "Hanuman's",
 'resume',
 'also',
 'seem',
 'to',
 'derive',
 'in',
 'part',
 'from',
 'his',
 'windy',
 'patrimony,',
 'reflecting',
 "Vayu's",
 'role',
 'in',
 'both',
 'body',
 'and',
 'cosmos.[11]',
 'Bhakti',
 'movement',
 'saints',
 'such',
 'as',
 'Samarth',
 'Ramdas',
 'have',
 'positioned',
 'Hanuman',
 'as',
 'a',
 'symbol',
 'of',
 'nationalism',
 'and',
 'resistance',
 'to',
 'persecution.[12]',
 'The',
 'Vaishnava',
 'saint',
 'Madhava',
 'said',
 'that',
 'whenever',
 'Vishnu',
 'incarnates',
 'on',
 'earth,',
 'Vayu',
 'accompanies',
 'him',
 'and',
 'aids',
 'his',
 'work',
 'of',
 'preserving',
 'dharma.[13]',
 'In',
 'the',
 'modern',
 'era,',
 "Hanuman's",
 'iconography',
 'and',
 'temples',
 'have',
 'been',
 'increasingly',
 'common.[14]',
 'He',
 'is',
 'viewed',
 'as',
 'the',
 'ideal',
 'combination',
 'of',
 '"strength,',
 'heroic',
 'initiative',
 'and',
 'assertive',
 'excellence"',
 'and',
 '"loving,',
 'emotional',
 'devotion',
 'to',
 'his',
 'personal',
 'god',
 'Rama",',
 'as',
 'Shakti',
 'and',
 'Bhakti.[15]',
 'In',
 'later',
 'literature,',
 'he',
 'is',
 'sometimes',
 'portrayed',
 'as',
 'the',
 'patron',
 'god',
 'of',
 'martial',
 'arts',
 'such',
 'as',
 'wrestling',
 'and',
 'acrobatics,',
 'as',
 'well',
 'as',
 'activities',
 'such',
 'as',
 'meditation',
 'and',
 'diligent',
 'scholarship.[2]',
 'He',
 'symbolises',
 'the',
 'human',
 'excellences',
 'of',
 'inner',
 'self-control,',
 'faith,',
 'and',
 'service',
 'to',
 'a',
 'cause,',
 'hidden',
 'behind',
 'the',
 'first',
 'impressions',
 'of',
 'a',
 'being',
 'who',
 'looks',
 'like',
 'a',
 'Vanara.[14][16][17]',
 'Hanuman',
 'is',
 'considered',
 'to',
 'be',
 'a',
 'bachelor',
 'and',
 'an',
 'exemplary',
 'celibate.[18]',
 '',
 'Some',
 'scholars',
 'have',
 'identified',
 'Hanuman',
 'as',
 'one',
 'potential',
 'inspiration',
 'for',
 'Sun',
 'Wukong,',
 'the',
 'Monkey',
 'King',
 'character',
 'in',
 'the',
 'Chinese',
 'epic',
 'adventure',
 'Journey',
 'to',
 'the',
 'West.[19][20]',
 '']

In [145]:
type(b)

list

In [146]:
c = set(b)

In [147]:
c

{'(/ˈhʌnʊˌmɑːn/;',
 '(Sanskrit:',
 'Anjaneya',
 'Chiranjivis.',
 'Hanuman',
 "Hanuman's",
 'Hanumān),[7]',
 'He',
 'Hindu',
 'IAST:',
 'Rama',
 'Rama.',
 'Ramayana.',
 'Sanskrit:',
 'Shaivism.',
 'Shiva',
 'Vayu,',
 'a',
 'also',
 'an',
 'and',
 'ardent',
 'be',
 'birth,[6][9]',
 'called',
 'central',
 'characters',
 'companion',
 'considered',
 'devotee',
 'direct',
 'divine',
 'epic',
 'god',
 'in',
 'incarnation',
 'is',
 'of',
 'one',
 'or',
 'played',
 'regarded',
 'role',
 'several',
 'son',
 'stories',
 'the',
 'to',
 'vanara',
 'who',
 'wind-god',
 'आञ्जनेय),[8]',
 'हनुमान,'}

In [149]:
d = dict.fromkeys(c,"vicky")

In [150]:
d

{'(Sanskrit:': 'vicky',
 'also': 'vicky',
 'stories': 'vicky',
 'Hanuman': 'vicky',
 'Shaivism.': 'vicky',
 "Hanuman's": 'vicky',
 'Shiva': 'vicky',
 'divine': 'vicky',
 'or': 'vicky',
 'role': 'vicky',
 'companion': 'vicky',
 'Rama': 'vicky',
 'central': 'vicky',
 'Vayu,': 'vicky',
 'devotee': 'vicky',
 'Anjaneya': 'vicky',
 'Rama.': 'vicky',
 'the': 'vicky',
 'Hanumān),[7]': 'vicky',
 'of': 'vicky',
 'He': 'vicky',
 'played': 'vicky',
 'son': 'vicky',
 'vanara': 'vicky',
 'Hindu': 'vicky',
 'an': 'vicky',
 'Sanskrit:': 'vicky',
 'epic': 'vicky',
 'Chiranjivis.': 'vicky',
 'called': 'vicky',
 'direct': 'vicky',
 'and': 'vicky',
 'who': 'vicky',
 'in': 'vicky',
 'birth,[6][9]': 'vicky',
 'incarnation': 'vicky',
 'regarded': 'vicky',
 '(/ˈhʌnʊˌmɑːn/;': 'vicky',
 'to': 'vicky',
 'one': 'vicky',
 'ardent': 'vicky',
 'be': 'vicky',
 'IAST:': 'vicky',
 'god': 'vicky',
 'is': 'vicky',
 'characters': 'vicky',
 'Ramayana.': 'vicky',
 'आञ्जनेय),[8]': 'vicky',
 'हनुमान,': 'vicky',
 'several': 'vicky',
 'a': 'vicky',
 'wind-god': 'vicky',
 'considered': 'vicky'}

In [153]:
e = tuple(d.keys())

In [154]:
e

('(Sanskrit:',
 'also',
 'stories',
 'Hanuman',
 'Shaivism.',
 "Hanuman's",
 'Shiva',
 'divine',
 'or',
 'role',
 'companion',
 'Rama',
 'central',
 'Vayu,',
 'devotee',
 'Anjaneya',
 'Rama.',
 'the',
 'Hanumān),[7]',
 'of',
 'He',
 'played',
 'son',
 'vanara',
 'Hindu',
 'an',
 'Sanskrit:',
 'epic',
 'Chiranjivis.',
 'called',
 'direct',
 'and',
 'who',
 'in',
 'birth,[6][9]',
 'incarnation',
 'regarded',
 '(/ˈhʌnʊˌmɑːn/;',
 'to',
 'one',
 'ardent',
 'be',
 'IAST:',
 'god',
 'is',
 'characters',
 'Ramayana.',
 'आञ्जनेय),[8]',
 'हनुमान,',
 'several',
 'a',
 'wind-god',
 'considered')

In [155]:
f = list(d.values())
f

['vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky',
 'vicky']

In [157]:
d = {'company':"ineuron","course":"full stack data science","year":2022}

In [161]:
for i in d:
    print("print ",i,d[i] )

print  company ineuron
print  course full stack data science
print  year 2022

In [169]:
"course" in d

True

In [170]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [181]:
for i in d:
    if i == "year":
        if d[i]> 2022:
            print("year is fine ")
        else:
            d[i] = 2023

year is fine

In [182]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2023}

In [183]:
my_dict = {}
for i in range(10):
    my_dict[i] = i*i

In [184]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [185]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [186]:
{i:i*i for i in range(0,10,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [189]:
{i:i*i for i in range(0,10,1)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}